ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    background-color: #0B1D26;
    margin: 0;
}

h1, h2, h3, span, p, a {
    margin: 0;
}
