.logo {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Chronicle Display';
    font-style: normal;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    color: #FFFFFF;
}

h1 {
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 375;
    font-size: 64px;
    line-height: 1.2;
    color: #FFFFFF;
}
